CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# MODO TURBO (O2 e 240MHz Nativos)
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Aumento da Pilha
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

# PSRAM Otimizada (SEM PERMITIR BSS EXTERNO!)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536

# Drivers Essenciais
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FREERTOS_HZ=1000

# LVGL Enxuto (Apenas fontes pequenas/médias para a lista de ROMs)
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_30=y
CONFIG_LV_USE_FS_POSIX=y
CONFIG_LV_FS_POSIX_LETTER=83
CONFIG_LV_FS_POSIX_PATH=""

# --- OTIMIZAÇÃO LWIP E WI-FI PARA UDP STREAMING ---
# Aumenta a fila de transmissão dinâmica (padrão é 32, subimos para 64)
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=64

# Aumenta os buffers de envio e recebimento do socket
CONFIG_LWIP_SO_SNDBUF=y
CONFIG_LWIP_UDP_RECVMBOX_SIZE=16

# Otimiza o LwIP para alto throughput
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=32
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=8192
CONFIG_LWIP_TCP_WND_DEFAULT=8192