# ==========================================
# CONFIGURAÇÃO DE HARDWARE E FLASH (32MB)
# ==========================================
CONFIG_IDF_TARGET="esp32s3"

# Força o modo Quad-SPI (QIO) e 80MHz
CONFIG_ESPTOOLPY_OCT_FLASH=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="32MB"

# Habilita o endereçamento acima de 16MB via OCTAL Mode
CONFIG_BOOTLOADER_CACHE_32BIT_ADDR_OCTAL_FLASH=y
CONFIG_SPI_FLASH_SUPPORT_BOYA_CHIP=y
CONFIG_SPI_FLASH_SUPPORT_TH_CHIP=y

# Usa partição customizada
CONFIG_PARTITION_TABLE_CUSTOM=y

# MODO TURBO (O2 e 240MHz Nativos)
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Aumento da Pilha
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384

# PSRAM Otimizada (SEM PERMITIR BSS EXTERNO!)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536

# Drivers Essenciais
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FREERTOS_HZ=1000

# LVGL Enxuto (Apenas fontes pequenas/médias para a lista de ROMs)
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_30=y
CONFIG_LV_USE_FS_POSIX=y
CONFIG_LV_FS_POSIX_LETTER=83
CONFIG_LV_FS_POSIX_PATH=""